[user]
	name = Farhan Khan
	email = farhanjk@gmail.com
[core]
	editor = $EDITOR
	excludesfile = /Users/farhan/.gitignore_global
	autocrlf = input
[color]
	ui = true
[push]
	default = simple
[credential]
	helper = osxkeychain
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	ls1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	ls2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	last = log -1 HEAD
	unstage = reset --
	gap = add --patch
	caa = commit -a --amend -C HEAD
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive && git log --pretty=format:\"%Cred%ae %Creset- %C(yellow)%s %Creset(%ar)\" HEAD@{1}..
	branch = branch -v
	unrm = "!COMMIT=$(git log -1 --pretty=%h -- \"$1\"); git checkout $COMMIT^ -- \"$1\"; echo \"File: $1, was restored from commit $COMMIT\"; git show -s $COMMIT"
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
